.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  margin: 0;
} 
.wrapper {
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header, .footer{
  height: 50px;
  background: #20639B;
  color: #fff;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000; 
}
.columns{
  display: flex;
  flex:1;
  
 
}
.main{
  flex: 1;
  order: 2;
  background: #eee;
  width: 500px;
}
.sidebar-first{
  width: 20%;
  background-color: #173F5F;
  color: white;
  order: 1;
}

footer.footer {
  display: none
}

header.header {
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.MuiListItemIcon-root {
  color: #F6D55C !important;
}
map-container {
  height: 400px;
}